.head{
    background-color: brown;
    padding: 10px;
}

.head h1{
    color: white;
    padding: 10px;
    text-align: center;
}

.head img{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    vertical-align: middle;
}

.head li{
    display: inline;
    padding: 80px;
    color: yellow;
}